<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <!-- This references the css file which has all the styling on it-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  
  </head>


  <body>
    <!-- The <nav> stands for the  navigation menu at the top of the website--> 
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/resume">Resume</a></li>
<li><a href="/about">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:matthewbcoleman@ucsb.edu">email</a></li>
   <li><a href="https://https://github.com/matthewbcoleman">github.com/matthewbcoleman</a></li>
   </ul>
  </footer>
  </body>
</html>
